<div class="col-xs-12">
  <div class="box box-primary">
    <div class="box-body">
      <form action="{{ url }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <input type="checkbox"
                 id="published"
                 name="published"
                 class="icheck"
                 value="1"
                  {{ page.published ? 'checked' : '' }}
                 style="position: absolute; opacity: 0;"
          >
          <label class="control-label" for="published">Опубликовано</label>
        </div>

        <div class="form-group">
          <label class="control-label required" for="title">
            Название
          </label>
          <input type="text"
                 id="title"
                 name="title"
                 required="required"
                 class=" form-control"
                 value="{{ page.title }}"
          >
        </div>

        <div class="form-group">
          <label class="control-label required" for="slug">
            Код
          </label>
          <input type="text"
                 id="slug"
                 name="slug"
                 required="required"
                 class=" form-control"
                 value="{{ page.slug }}"
          >
        </div>

        <div class="form-group">
          <div class="field-container">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>Файл</th>
                <th>Название</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="control-group">
                  {% if page.file is not null %}
                    <a href="{{ publicFileLink(page.file) }}"
                       target="_blank">{{ page.file.originalFileName }}</a>
                  {% endif %}

                  <input type="file" name="file" id="file">
                </td>
                <td class="control-group">
                  <input type="text"
                         id="file_title"
                         name="file_title"
                         class=" form-control"
                         value="{{ page.file is not null ? page.file.title : '' }}"
                  >
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label required">
            Архив документов
          </label>

          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Удалить</th>
              <th>Сортировка</th>
              <th>Файл</th>
              <th>Название</th>
            </tr>
            </thead>
            <tbody class="archive-files">
            {% for archiveFile in page.archiveFiles %}
              <tr>
                <td class="control-group">
                  <div class="checkbox">
                    <input type="checkbox"
                           id="archive_file[{{ archiveFile.id }}][delete]"
                           name="archive_file[{{ archiveFile.id }}][delete]"
                           value="1"
                    >
                  </div>
                </td>
                <td class="control-group">
                  <input type="number"
                         id="archive_file[{{ archiveFile.id }}][sort]"
                         name="archive_file[{{ archiveFile.id }}][sort]"
                         class=" form-control"
                         value="{{ archiveFile.sort }}"
                  >
                </td>
                <td class="control-group">
                  {% if archiveFile.file is not null %}
                    <a href="{{ publicFileLink(archiveFile.file) }}"
                       target="_blank">{{ archiveFile.file.originalFileName }}</a>
                  {% endif %}

                  <input type="file" name="archive_file[{{ archiveFile.id }}][file]"
                         id="archive_file[{{ archiveFile.id }}][file]">
                </td>
                <td class="control-group">
                  <input type="text"
                         id="archive_file[{{ archiveFile.id }}][sort]"
                         name="archive_file[{{ archiveFile.id }}][title]"
                         class=" form-control"
                         value="{{ archiveFile.file.title }}"
                  >
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          <span onclick="return addNewItem()" class="btn btn-success btn-sm">
            <i class="fa fa-plus-circle"></i>
          </span>
        </div>

        <div class="form-group">
          <label class="control-label required" for="description">
            Детальное описание
          </label>
          <textarea id="ck_editor_additional" name="description">
            {{ page.description }}
          </textarea>
        </div>

        <div class="form-group">
          <label class="control-label" for="keywords">
            Keywords
          </label>
          <input
                  type="text"
                  id="keywords"
                  name="keywords"
                  class=" form-control"
                  value="{{ page.keywords }}"
          >
        </div>

        <div class="form-group">
          <label class="control-label" for="meta_description">
            Meta description
          </label>
          <textarea
                  id="ck_editor"
                  name="meta_description"
                  class=" form-control"
          >{{ page.metaDescription }}</textarea>
        </div>

        <button type="submit" class="btn btn-success">Сохранить</button>
      </form>
    </div>
  </div>
</div>

{% block js %}
  <script type="text/javascript">
    function addNewItem() {
      const table = document.querySelector('.archive-files');

      let newItem = document.createElement('tr');
      const index = Math.ceil((Math.random() * 1000))

      newItem.innerHTML = `
                    <td class="control-group">
                        <button type="button" class="btn btn-danger btn-sm" onclick="this.closest('tr').remove()">Удалить</button>
                    </td>
                    <td class="control-group">
                      <input type="number" id="new_archive_files[${index}][sort]" name="new_archive_files[${index}][sort]" required="required" class="form-control">
                    </td>
                    <td class="control-group">
                      <input type="file" id="new_archive_files[${index}][file]" name="new_archive_files[${index}][file]" required="required" class="form-control">
                    </td>
                    <td class="control-group">
                      <input type="text" id="new_archive_files[${index}][title]" name="new_archive_files[${index}][title]" required="required" class="form-control">
                    </td>
                  `;

      table.append(newItem);
    }
  </script>
{% endblock %}
