<div class="col-xs-12">
  <div class="box box-primary">
    <div class="box-body">
      <form action="{{ url }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <input type="checkbox"
                 id="published"
                 name="published"
                 class="icheck"
                 value="1"
                  {{ faq.published ? 'checked' : '' }}
                 style="position: absolute; opacity: 0;"
          >
          <label class="control-label" for="published">Опубликовано</label>
        </div>

        <div class="form-group">
          <label class="control-label required" for="title">
            Заголовок
          </label>
          <input type="text"
                 id="title"
                 name="title"
                 required="required"
                 class=" form-control"
                 value="{{ faq.title }}"
          >
        </div>

        <div class="form-group">
          <label class="control-label required" for="slug">
            Код
          </label>
          <input
                  type="text"
                  id="slug"
                  name="slug"
                  required="required"
                  class=" form-control"
                  value="{{ faq.slug }}"
          >
        </div>

        <div class="form-group">
          <label class="control-label required" for="categoryId">
            Категория
          </label>

          <select class="form-control" id="categoryId" name="categoryId">
            {% for category in categories %}
              <option value="{{ category.id }}" {{ (faq.category is not null and faq.category.id == category.id) ? 'selected' : '' }}>{{ category.title }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group">
          <label class="control-label required" for="description">
            Описание
          </label>

          <textarea id="ck_editor" name="description">
            {{ faq.description }}
          </textarea>
        </div>

        <button type="submit" class="btn btn-success">Сохранить</button>
      </form>
    </div>
  </div>
</div>
